:root {
  --secondary-font: "Fraunces", "Times New Roman", serif;
  --main-font: "Barlow", "Arial", sans-serif;
  --color-dark : #24303E;
  --color-dark-grey: #5B636D;
  --color-grey : #808397;
  --color-light-green: #90D4C6;
  --color-dark-green : #458D7E;
  --color-white: #FFFCF8;

}

/* FONT FRAUNCES 900 700 BARLOW 600 */

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces9ptSoft-Bold.woff2") format("woff2"),
    url("../fonts/Fraunces9ptSoft-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-SemiBold.woff2") format("woff2"),
    url("../fonts/Barlow-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces9ptSoft-Black.woff2") format("woff2"),
    url("../fonts/Fraunces9ptSoft-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__container{
  flex-grow: 1;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1500px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

.container__mini{
  padding:  0  24px;
  margin-left: auto;
  margin-right: auto;
}

/* REUSABLE */

.btn{
  display: inline-block;
  padding: 15px 30px ;
  border-radius: 28px;
  font-family: var(--secondary-font);
  font-weight: 700;
  background-color: #fff;
  letter-spacing: -0.1px;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  text-transform: uppercase;
}

.btn:active{
  opacity: 0.6;
}


/* MOBILE  */

/* MOBILE TOP */
.top{
  background-image: url("../img/top-bg.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 540px;
}

/* MOBILE HEADER */
.site-header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px 50px;
}

.logo{
  text-decoration: none;
  transition: oapcity 0.3s ease;
}

.logo:hover{
  opacity: 0.8;
}

.logo:active{
  opacity: 0.6;
}

.logo__img{
  display: block;
}

.site-header__toggler {
  width: 24px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/nav-burger.svg");
  cursor: pointer;
}

.sitenav{
  padding: 40px 80px;
  text-align: center;
  position: absolute;
  left: 24px;
  right: 24px;
  top: calc(100% + 12px);
  transform: translateY(-1200px);
  /* height: calc(100vh - 104px); */
  background-color: var(--color-white);
  transition: transform 0.5s ease;
}

.site-header--open .sitenav {
  transform: translateY(0px);
}



.sitenav::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-99%);
  z-index: 1;
  display: block;
  border: 12px solid var(--color-white);
  border-left-color:transparent ;
  border-top-color: transparent;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-bottom: 32px;
}

.sitenav__link {
  display: inline-block;
  color: var(--color-grey);
  letter-spacing: -0.5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.sitenav__link:hover{
  opacity: 0.8;
}

.sitenav__link:active{
  opacity: 0.6;
}

.contact {
  font-family: var(--secondary-font);
  background-color: #FBD600;
  color: var(--color-dark);
}

.contact:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

/* MOBILE HERO  */

.hero {
  padding-top: 35px;
  padding-bottom: 35px;
}

.hero__heading {
  margin: 0;
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 6.25px;
  color: #fff;
}

/* FEATURE MOBILE */


.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {

}

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature__img{
  display: block;
  width: 100%;
}

.feature__box {
  padding: 24px 24px 64px;

}

.feature__heading {
  margin: 0;
  margin-bottom: 24px;
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.5px;
  color: #24303E;
}

.feature__info {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-weight: 600;
  font-weight: 300;
  color: var(--color-grey);
}

.feature__link {
  position: relative;
  font-weight: 900;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--color-dark);
  letter-spacing: 1px;
  font-family: var(--secondary-font);
  text-decoration: none;
}

.feature__link::after{
  content: '';
  position: absolute;
  height: 10px;
  width: 110%;
  border-radius: 28px;
  top: 100%;
  left: -5%;
  right: -5%;
  background-color: rgba(251, 213, 0, 0.26);
  transform: translateY(-70%);
  z-index: -1;
  transition: background-color 0.3s ease;
}

.features__item:nth-child(2) .feature__link::after {
  background-color: rgb(254, 119, 102, 0.25);

}

.feature__link:hover::after{
  background-color: rgba(251, 213, 0, 1);
}
.features__item:nth-child(2n) .feature__link:hover:after {
  background-color: rgb(254, 119, 102);

}

.service__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.service__item {
  padding: 400px 24px 60px;
  width: 100%;
}

.service {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.service-gd{
  background-image: url("../img/graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.service-orange{
  background-image: url("../img/orange.jpg");
}

.service__box{
  min-width: 327px;
  text-align: center;
}

.service__heading {
  margin: 0;
  margin-bottom: 27px;
  color: #24554A;
}

.service__info {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.5px;
  color: #24554A;

}







/* ==================== TABLET  ===================*/

@media only screen and (min-width: 768px) {
  .top{
    background-image: url("../img/top-bg-tablet.jpg");
    min-height: 580px;
  }

  .site-header{
    padding: 40px 30px;
  }

  .site-header__toggler{
    display: none;
  }

  .sitenav{
    padding: 0;
    position: static;
    transform: translateY(0);
    background-color: transparent;
    text-align-last: left;
  }

  .sitenav__list{
    display: flex;
    align-items: center;
  }

  .sitenav__item:not(:last-child){
    margin-right: 30px;
    margin-bottom: 0;
  }

  .sitenav::before{
    border: none;
  }

  .sitenav__link{
    color: #fff;
    font-size: 16px;
    font-weight: 600;

  }

  /* HERO TABLET */
  .hero{

  }

  .hero__heading{
    font-weight: 900;
    font-size: 52px;
    line-height: 55px;
    letter-spacing: 7.25px;
  }


  /* FEATURE TABLET */

  .feature{
    flex-direction: row;
  }

  .feature:nth-child(2n){
    flex-direction: row-reverse;
  }



  .feature {
    width: 100%;
  }

  .feature__box {
    width: 50%;
    text-align: left;
    padding: 30px;
    height: 100%;
  }

  .feature__img {
    width: 50%;
    display: block;
    /* height: 100%; */
  }


  /* SERVICES */

  .service__list{
    flex-direction: row;
  }




  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .top {
      background-image: url('../img/top-bg-tablet@2x.jpg');
    }
  }
}


@media only screen and (min-width: 1024px) {
  .top{
    background-image: url("../img/top-bg-desktop.jpg");
    min-height: 650px;
    background-size: cover;
  }

  .sitenav__item:not(:last-child){
    margin-right: 45px;
  }

  .sitenav__link{
    font-size: 18px;
  }

  .contact{
    background-color: #fff;
    color: var(--color-dark);
    transition: color 0.3s ease, background-color 0.3s;
  }

  .contact:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
  }

  /* HERO DESKTOP */
  .hero{
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .hero__heading{
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 8.75px;
  }

  /*  FEATURE DESKTOP */



  .feature{
    width: 100%;
  }

  .feature__box{
    width: 50%;
    text-align:left;
    padding: 150px;
  }

  .feature__img{
    width: 50%;
    display: block;
  }


  .service__list{
  }

  .service__box{
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .service-gd{
    background-position: center  top;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .top {
      background-image: url('../img/top-bg-desktop@2x.jpg');
    }
  }
}
